<% layout('/layouts/boilerplate')%>

    <section class='forumPage'>
        <div class="forumInfo">
            <h1><%=post.category%></h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, fuga illum voluptates ducimus minima a, maiores doloribus sed ea necessitatibus, expedita reiciendis ratione minus velit nam? Similique totam corporis suscipit.
                Id cum voluptas placeat repellendus! Fugit illum quaerat aliquid non unde error eaque nulla reiciendis hic iste modi amet mollitia saepe ea, autem est necessitatibus natus aspernatur excepturi dicta magni.
            </p>
            <a href="/forums/<%=post.category%>">
                <div class='centeredDiv'>
                    <button class='roundedButton'>Back</button>
                </div>
            </a>
        </div>
        <div class='forumPosts'>
            <div class='forumBlockContent'>
                <div id="info">
                    <header id='PostInfoHeader'>
                        <a>Posted by u/<%=post.author.username%></a>
                        <% if(currentUser && post.author.equals(currentUser)){%>
                            <a href="/forums/<%=post.category%>/<%=post._id%>/edit">Edit</a>
                            <a id='deletePost'>Delete</a>
                        <%}%>
                        <form action="/forums/<%=post.category%>/<%=post._id%>?_method=DELETE" method="POST" id="deleteForm">
                        </form>
                    </header>
                    <h1><b><%=post.postTitle%></b></h1>
                    <hr>
                    <p id='forumPostB'></p>
                    <h3 class='categoryStyle'><%=post.category%></h3>
                    <hr>
                    <form id="commentForm" class='createComment' action="/forums/<%=post.category%>/<%=post._id%>/comments" method="POST">
                        <label for="commentText"></label>
                        <textarea name="commentText" id="commentText" cols="40" rows="5" form="commentForm"></textarea>
                        <div class="centeredDiv">
                            <button class="roundedButton">Post Comment</button>
                        </div>
                    </form>
                    <%for(let comment of post.comments){%>

                        <div id="commentBlock">
                            <p><%=comment.commentText%></p>
                            <%if(currentUser && comment.author.equals(currentUser)){%>
                                <form action="/forums/<%=post.category%>/<%=post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST"><button class="btnToLink">Delete</button></form>
                            <%}%>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
        <%-include('../../public/textCompiler')%>
    </section>

    <footer>
    </footer>
